main {
    background-color: rgb(245, 245, 245);
    color: rgb(12, 83, 154);
    height: 80vh;
    width: 100%;
}


.top-main {
    width: 100%;
    height: 60vh;
    color: rgb(12, 83, 154);
    background-color: rgb(245, 245, 245);
}


/*-------LEFT SIDE OF MAIN-------*/


.top-main-left {
    float: left;
    width: 50%;
    padding-left: 15rem;
    padding-top: 8rem;
}

.top-main-left h4 {
    color: rgb(187, 208, 240);
    font-size: 0.8rem;
    padding: 1rem 0;

}

.top-main-left h1 {
    font-size: 3rem;
    padding: 1rem 0;
    padding-bottom: 2rem;
}

.input{
    border-style: none;
    height: 2.5rem;
    width: 20rem;
    color: rgb(187, 208, 240);
    background-color: rgb(220, 227, 236);
}

.button-main {
    color: white;
    background-color: rgb(12, 83, 154);
    border-style: none;
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 1px;
    cursor: pointer;
}

.top-main-left p {
    color: rgb(109, 151, 200);
    font-size: 1.2rem;
    padding: 1rem 0;
}


/*-------RIGHT SIDE OF MAIN-------*/

.top-main-right {
    float: left;
    width: 50%;
}

/*-------BOTTOM SIDE OF MAIN-------*/


.bottom-main {
    width: 100%;
    height: 20vh;
    color: rgb(12, 83, 154);
    background-color: rgb(245, 245, 245);
    padding: 3rem 15rem;
    display: inline-block;
}


.bottom-main-section{
    display: inline-block;
    text-align: left;
    align-items: center;
    padding-right: 5rem;
}

.bottom-main-section h3, .bottom-main-section-1 h3, .bottom-main-section-2 h3 {
    font-size: 1.2rem;
    padding: 0.7rem 0;
}

.bottom-main-section p, .bottom-main-section-1 p, .bottom-main-section-2 p {
    font-size: 1rem ;
    padding: 0 0 0.7rem 0;
}

.bottom-main-section-1 {
    display: inline-block;
    text-align: left;
    align-items: center;
    padding: 0 5rem;
}

.bottom-main-section-2 {
    display: inline-block;
    text-align: left;
    align-items: center;
    padding-left: 5rem;
}